@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
    --primary-White: hsl(0, 0%, 100%);
    --primary-Black: hsl(0, 0%, 0%);
    --primary-Dark-Gray: hsl(0, 0%, 55%);
    --primary-VeryDarkGray: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    box-sizing: border-box;
}

header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.473)), url('images/desktop/image-hero.jpg');
    background-position: top 10px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(5.6em, 10vw, 10em);
}

.navigation {
    width: 77%;
    margin: 0 auto 80px auto;
    
}

header .navigation_container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 4.4em;
    margin-bottom: 8.5em;
}

.navigation_links_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation_links_container button {
    display: none;
    margin: 0;
    padding: 0;
    outline: none;
}

.navigation_container .navigation_links ul {
    display: flex;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    
}

.navigation_links ul li {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.navigation_links ul li a{
    font-family: 'Alata';
    text-decoration: none;
    color: var(--primary-White);
}

.header_title {
    margin-bottom: 30rem;
}

.header_title div{
    float: left;
    border: 2.5px solid var(--primary-White);
    max-width: 570px;
    padding: 30px;
}

.header_title div h1 {
    font-family: 'Josefin Sans';
    color: var(--primary-White);
    font-size: 4.5rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

.container {
    width: 77%;
    margin: 0 auto;
}

.container .info_container {
    position: relative;
}

.inner_info_container {
    position: absolute;
    right: -20px;
    bottom: -20px;
    background-color: var(--primary-White);
    padding: 4rem;
}

.info_para_header {
    font-family: 'Josefin Sans';
    font-weight: 200;
    color: var(--primary-Black);
    font-size: clamp(42px, 2vw, 4rem);
    margin-bottom: 20px;
}

.info_para_para {
    font-family: 'Josefin Sans';
    font-size: clamp(15px, 2vw, 0.5rem);
    line-height: 1.5rem;
    word-spacing: 2.5px;
}

main {
    margin-bottom: 10rem;
}

.collection {
    margin-top: clamp(2em, 10vw, 10em);
    box-sizing: border-box;
}

.collection_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5em;
}

.collection_header h3{
    font-family: 'Josefin Sans';
    font-size: 2.5rem;
    font-weight: 200;
}

.collection button {
    background-color: var(--primary-White);
    font-family: 'Alata';
    font-size: 1rem;
    padding: 7px 35px;
    margin: 0;
    letter-spacing: 2.5px;
    border: 2px solid var(--primary-VeryDarkGray);
    border-radius: 2px;
}

.collection .lower_btn {
    display: none;
}

.collections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.collections .collections_img {
    margin-bottom: 23.3px;
    margin-right: 23.3px;
}

.collections .collections_img_1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.514), rgba(184, 184, 184, 0)), url('./images/desktop/image-deep-earth.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.514), rgba(184, 184, 184, 0)), url('./images/desktop/image-night-arcade.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_3 {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.514), rgba(184, 184, 184, 0)), url('./images/desktop/image-soccer-team.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_4 {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.514),rgba(184, 184, 184, 0)), url('./images/desktop/image-grid.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_5 {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.514),rgba(184, 184, 184, 0)), url('./images/desktop/image-from-above.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_6 {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.514),rgba(184, 184, 184, 0)), url('./images/desktop/image-pocket-borealis.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_7 {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.514),rgba(184, 184, 184, 0)), url('./images/desktop/image-curiosity.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections .collections_img_8 {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.514),rgba(184, 184, 184, 0)), url('./images/desktop/image-fisheye.jpg');
    width: 256px;
    /* width: 23.4%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;
}

.collections h3 {
    font-family: 'Josefin Sans';
    font-weight: 200;
    max-width: 150px;
    font-size: 1.5rem;
    color: var(--primary-White);
    margin: 2rem;
    position: absolute;
    bottom: 5px;
}

footer {
    background-color:  var(--primary-Black);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    justify-content: space-between;
}

footer .footer_links ul {
    list-style: none;
    display: flex;
    margin: 1.5rem 0 0 0;
    box-sizing: border-box;
}

footer .footer_links ul li {
    margin-right: 2rem;
}

footer .footer_links ul li a{
    text-decoration: none;
    font-family: 'Alata';
    color: var(--primary-White);
}

footer .social ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 1.5rem 0;
    box-sizing: border-box;
}

footer .social ul li {
    margin-right: 1.5rem;
}

footer .copyright {
    color: var(--primary-VeryDarkGray);
}

.attribution {
    font-family: 'Josefin Sans';
    font-size: 0.9rem;
    text-align: center;
    color: var(--primary-White);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}







/* with pseudo */
.navigation_links ul li:nth-child(5), footer .footer_links ul li:nth-child(5) {
    margin-right: 0;
}

/* .collections .collections_img:nth-child(4n) {
    margin-right: 0;
} */

footer .social ul li:nth-child(4) {
    margin-right: 0;
}

/* Media Query */

@media screen and (max-width: 869px) {
    header {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0)), url('images/mobile/image-hero.jpg');
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }

    .navigation_container .logo {
        width: 150px;
    }

    .navigation_links_container button {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .navigation_container .navigation_links ul {
        display: none;
    }

    .container {
        width: 85%;
        margin: 0 auto;
    }

    .collection_header .upper_btn {
        display: none;
    }

    .collection_header {
        align-items: center;
        justify-content: center;
    }

    .collection_header h3 {
        font-size: clamp(2rem, 5vw, 3rem);
    }

    .lower_btn_container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lower_btn_container .lower_btn {
        font-size: 1rem;
        padding: 10px 5px;
        display: block;
        text-align: center;
        width: 150px;
    }

    .collections .collections_img:nth-child(even) {
        margin-right: 0;
    }

} 

@media screen and (min-width: 870px) {
    .overlay {
        display: none;
    }
}

@media (min-width: 620px) and (max-width: 703px) {
    .collections .collections_img {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 620px) and (max-width: 625px) {
    
    .collections .collections_img {
        margin-bottom: 1px;
        margin-right: 1px;
    }
}

@media (max-width: 619px) {
    .collections .collections_img {
        margin-right: 0;
    }
}

@media (max-width: 620px) {
    .collections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    /* .collections .collections_img {
        margin-bottom: 23.3px;
        margin-right: 23.3px;
    } */
    
    .collections .collections_img_1 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-deep-earth.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_2 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-night-arcade.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_3 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-soccer-team.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_4 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-grid.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_5 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-from-above.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_6 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-pocket-borealis.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_7 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-curiosity.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
    
    .collections .collections_img_8 {
        background: linear-gradient(90deg, rgba(2, 2, 2, 0.548),rgba(255, 255, 255, 0)), url('./images/mobile/image-fisheye.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        position: relative;
    }
}

@media (min-width: 376px) and (max-width: 703px) {
    .navigation_container .logo {
        width: 150px;
    }

    .header_title div h1 {
        font-size: 9.7vw;
    }
}

@media (max-width: 375px) {
    header .navigation_container {
        margin-top: 2.8em;
        margin-bottom: 11.8em;
    }

    .navigation_container {
        margin-left: 0;
        margin-right: 0;
    }

    .navigation_container .logo, .overlay .logo {
        width: 150px;
    }

    .navigation {
        width: 85%;
        margin: 0 auto 10em auto;
    }

    .header_title div h1 {
        font-family: 'Josefin Sans';
        color: var(--primary-White);
        font-weight: 200;
        font-size: 10vw;
        padding: 0;
        margin: 0;
    }

    .header_title div{
        border: 2.5px solid var(--primary-White);
        max-width: 570px;
        padding: 25px;
    }

    .collection_header h3 {
        font-weight: 300;
    }

    .collections .collections_img_1 {
        height: 120px;
    }

    .collections .collections_img_2 {
        height: 120px;
    }

    .collections .collections_img_3 {
        height: 120px;
    }

    .collections .collections_img_4 {
        height: 120px;
    }

    .collections .collections_img_5 {
        height: 120px;
    }

    .collections .collections_img_6 {
        height: 120px;
    }
    
    .collections .collections_img_7 {
        height: 120px;
    }

    .collections .collections_img_8 {
        height: 120px;
    }

    .collections h3 {
        font-family: 'Josefin Sans';
        font-weight: 200;
        max-width: 120px;
        font-size: 1.3rem;
        color: var(--primary-White);
        margin: 20px;
        position: absolute;
        bottom: 0px;
    }

    .lower_btn_container {
        margin-top: 5px;
    }

    .lower_btn_container .lower_btn {
        font-family: 'Alata';
        font-size: 12px;
        font-weight: 400;
        padding: 8px 2.5px;
        display: block;
        text-align: center;
        width: 130px;
    }
}

@media (max-width: 1024px) {
    .container .info_container {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .info_pic img {
        width: 100%;
    }

    .inner_info_container {
        position: static;
        padding-left: 10px;
        padding-right: 10px;
    }

    .info_para_header {
        text-align: center;
        font-size: clamp(28px, 4.5vw, 42px);
    }

    .info_para_para {
        font-size: clamp(10px, 4.5vw, 24px);
        word-spacing: normal;
        text-align: center;
        /* padding-left: 10px;
        padding-right: 10px; */
    }

    .collections {
        justify-content: center;
    }

}

@media (min-width: 1025px) {
    .inner_info_container {
        position: absolute;
        background-color: var(--primary-White);
        width: min(420px, 45%);
        right: -55px;
        bottom: -50px;
        padding: 5rem;
    }

    .info_para_header {
        font-family: 'Josefin Sans';
        font-weight: 200;
        color: var(--primary-Black);
        font-size: clamp(32px, 2vw, 42px);
        margin-bottom: 20px;
    }
    
    .info_para_para {
        font-family: 'Josefin Sans';
        font-size: clamp(12px, 2vw, 15px);
        line-height: 1.5rem;
        word-spacing: 2.5px;
    }

    .collections {
        justify-content: center;
    }
}

@media (min-width: 1440px) {
    .collections .collections_img:nth-child(4n) {
        margin-right: 0;
    }
}

/* for Mobile Menu */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--primary-Black);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .overlay_container {
    width: 85%;
    margin: 40px auto;
}

.overlay .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.overlay .upper button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.overlay .lower ul{
    position: relative;
    top: 80px;
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.overlay .lower ul li{
    list-style: none;
    margin: 25px 0;
}

.overlay .lower ul li a {
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-weight: 200;
    color: var(--primary-White);
    font-size: 1.54rem;
}